<div class="footer-sec-cta">
	<div class="container">
		<h3>
			Working with enlight helped us grow our audience. We got a more
			sophisticated product plus kept our branding preferences.
		</h3>
		<p>- Matto Agency</p>
	</div>
</div>

<style>
	.footer-sec-cta {
		padding: 5rem 0;
		background-color: var(--clr-primary-dk);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.footer-sec-cta p {
		margin: 1rem 0;
		color: var(--clr-dark-opc);
	}

	@media (max-width: 792px) {
		.footer-sec-cta {
			padding-inline: 2rem;
		}
	}
</style>
