@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --clr-primary: #66FA16;
  --clr-primary-lt: #67A546;
  --clr-primary-dk: #0C2200;
  --clr-dark-opc: rgba(255, 255, 255, 0.8);
  --clr-dark-md-bg:black;
  --clr-dark-md-txt:white;
  --fs-base: 16px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --spacing-xxl: 92px;
  --spacing-3xl: 128px;
  --spacing-4xl: 164px;
  --spacing-5xl: 192px;
  --br-radius: 6px;
  --ff-base: 'Inter';
  --ff-secondary: 'Space Grotesk';
  --transition-base: 300ms ease all;

 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-weight: 400;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}
.dark body,.dark main,.dark .btn,.dark header, .dark header .header-container *:not(span),.dark .basinIframe{
  background-color: var(--clr-dark-md-bg) !important;
  color: var(--clr-dark-md-txt) !important;
  /*transition: var(--transition-base);*/
}
.dark .wrapper__link, .dark .blog-card *{
  color: white !important;
}
.dark .wrapper-text, .dark header,.dark .service-item {
  border-bottom: 1px solid rgb(28, 28, 28) !important;
}


.dark header,.header--dark{
 /* box-shadow: -4px 0px 0px 1px #222;
  transition: var(--transition-base); */

}



.spacing-section--md {
  margin: var(--spacing-md) auto;
}

.spacing-section--lg {
  margin: var(--spacing-lg) auto;
}

.spacing-section--xl {
  margin: var(--spacing-xl) auto;
}

.spacing-section--xxl {
  margin: var(--spacing-xxl) auto;
}

.spacing-section--3xl {
  margin: var(--spacing-3xl) auto;
}

.spacing-section--4xl {
  margin: var(--spacing-4xl) auto;
}

.spacing-section--5xl {
  margin: var(--spacing-5xl) auto;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-family: var(--ff-secondary);
}

.heading--xxl {
  font-size: clamp(5rem, 6vw, 7rem);
}

.heading-xl {
  font-size: clamp(2.6rem, 4vw, 4rem);
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1.5rem, 3.5vw, 2rem);
}

h4 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

h5 {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

h6 {
  font-size: clamp(0.875rem, 2vw, 1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  /* Inherit from the body */
}

.btn>span {
  position: relative;
  z-index: 1000;
}

.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--br-radius);
  border: none;
  font-size: var(--fs-base);
  position: relative;
  mix-blend-mode: difference;

}

.btn-primary {
  background-color: var(--clr-primary);
  color: black;
  font-family: var(--ff-base);
}

.btn-primary-outline {
  border: 2px solid var(--clr-primary) !important;
  background-color: transparent;
}

.btn.btn-primary-outline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  background: var(--clr-primary);
  height: 100% !important;
  transition: 300ms ease all;
  z-index: 1;

}

.btn.btn-primary-outline:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--clr-primary);
  height: 100% !important;
  transition: 300ms ease all;
  z-index: 1
}

.btn.btn-primary-outline:hover>span {
  color: black !important;
}

a {
  text-decoration: none;
  color: black;
}

.stroked-text {
  color: white;
  /* Makes the fill transparent */
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  /* Width and color of the stroke */
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--br-radius);
}

.container {
  max-width: 100%;
  width: 100%;
  /* padding-left: 1rem; /* 16px */
  /*  padding-right: 1rem; /* 16px */
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}




main {
  min-height: 100vh;
  background: white;
  position: relative;
  z-index: 1;
  font: 16px/1.4 system-ui, sans-serif;
}


@media(max-width:600px) {}